---
layout: main.liquid
---

<article class="txt">
  <header class="txtHeader">
    <h1 class="txtTitle">{{ title }}</h1>
    <time class="txtDate" datetime="{{ page.date }}">
      {{ page.date | readableDate }}
    </time>
    <div class="txtAuthor">{{ author }}</div>
  </header>
  <div>{{ content }}</div>
</article>
